@font-face {
    font-family: 'Roboto Thin';
    src: url('Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('Roboto-Light.ttf');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fontawesome-webfont.ttf');
}

@font-face {
    font-family: 'Material-Design-Iconic-Font';
    src: url('Material-Design-Iconic-Font.ttf');
}

-fx-font-family: 'Roboto Thin';
-fx-font-family: 'Roboto Light';
-fx-font-family: 'FontAwesome';
-fx-font-family: 'Material-Design-Iconic-Font';